<h1>华声在线 - 头条号新闻列表</h1>

<table>
  <thead>
    <tr>
      <th>新闻标题</th>
      <th>发布日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels['data']['hot_articles'].each do |hotel| %>
      <tr>
        <td><a target="_blank" href="https://www.toutiao.com/<%= hotel['url'] %>"><%= hotel['title'] %></a></td>
        <td><%= hotel['publish_time'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
